
img {
  width: 50px;
  margin-bottom: 15px;
}
#time {
  background-color: Crimson !important;
}
.hrs {
font-family: Helvetica, Arial, sans-serif;
font-size: 60px;
}
input{
  background-color: Red;
  font-size: 40px;
  border: none;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
#container {
  min-width: 320px;
  max-width: 800px;
  margin: 0 auto;
}
#rid {
  width: 400px;
}



.transition {
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
}
#rid {
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
}


.navbar-inverse {
  background-color: #0d0d0e !important;
}

.navbar {
  border-radius: 0px !important;
  margin-bottom: 0 !important;
}

@function makelongshadow($length,$angle) {
  $val: 0px 0px transparent;
  @for $i from 1 through $length {
    $val: #{$val}, #{$i}px #{$i*$angle}px 10;
  }
  @return $val;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:700,900');

body {

  overflow: scroll;
}

.txt {
  text-align: center;
  font-family: 'Roboto';
  font-size: 12vmin;
  font-weight: 700;
  animation: netflix_style 3.5s infinite;
  outline: none;
  white-space: nowrap;
}

@keyframes netflix_style {
  0% {
    text-shadow: makelongshadow(100,1);
    color:#f3f3f3;
    transform: scale(1.5, 1.5);
  }
  10% {
    text-shadow: makelongshadow(100,1.5);
    color:#f3f3f3;
    transform: scale(1.5, 1.5);
  }
  15% {
     color:#f3f3f3;
  }
  20% {
    color:#e90418;
    text-shadow: none;
    transform: scale(1.1, 1.1);
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    color:#e90418;
    transform: scale(0.85, 0.9);
  }

  100% {
    opacity: 0;
  }
}
