img {
  width: 50px;
  margin-bottom: 15px;
}

label {
  color: white;
}

.navbar-inverse {
  background-color: #0d0d0e !important;
}

.navbar {
  border-radius: 0px !important;
  margin-bottom: 0 !important;
}

body {
  background-color: #131314 !important;
}

@function makelongshadow($length,$angle) {
  $val: 0px 0px transparent;
  @for $i from 1 through $length {
    $val: #{$val}, #{$i}px #{$i*$angle}px 10;
  }
  @return $val;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:700,900');

body {
  background: radial-gradient(#131314, #131314);
  overflow: scroll;
}

.txt {
  text-align: center;
  font-family: 'Roboto';
  font-size: 12vmin;
  font-weight: 700;
  background-color: #131314 !important;
  animation: netflix_style 3.5s infinite;
  outline: none;
  white-space: nowrap;
}

@keyframes netflix_style {
  0% {
    text-shadow: makelongshadow(100,1);
    color:#f3f3f3;
    transform: scale(1.5, 1.5);
  }
  10% {
    text-shadow: makelongshadow(100,1.5);
    color:#f3f3f3;
    transform: scale(1.5, 1.5);
  }
  15% {
     color:#f3f3f3;
  }
  20% {
    color:#e90418;
    text-shadow: none;
    transform: scale(1.1, 1.1);
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    color:#e90418;
    transform: scale(0.85, 0.9);
  }

  100% {
    opacity: 0;
  }
}

@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Lato);
body {
  background: ;
  background-size: #131314 cover;
  color: #131314;
  font-family: 'Roboto';
}

.img-responsive {
  width: 30vw;
  max-width:200px;
}

h1 {
  font-family: 'Roboto';
  font-size: 10rem;
  color: black;
}

.alert {
  margin-top: 10px;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: #131314);
  min-height: 100vh;
  overflow:hidden;
}

.search {
  flex: 1;
  text-align: center;
}

button {
  background-color: black;
  border: 0;
  color: white;
  font-size: 2em;
  padding: 10px;
  margin-left: 0;
  font-family: 'Lobster';
}

input[type=text] {
  background: rgba(255, 255, 255, 0.5);
  outline: none;
  border: 3px solid black;
  color: black;
  font-family: 'Lato';
  font-size: 2em;
  padding: 8px;
  margin-right: 0;
  text-align:center;
}


::-webkit-input-placeholder {
  color: black;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: black;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: black;
}

:-ms-input-placeholder {
  color: black;
}

#poster {
  margin-top: 20px
}

#poster p {
  font-size: 2em;
  color: grey;
}

input:focus {
  outline: none;
}

.alert {
  background-color: rgba(0, 0, 0, 0.95);
  display: inline;
  padding: 10px;
  color: white;
}

img {
    width: 50px;
    margin-bottom: 15px;
    margin-left: 30%;
}
