img {
  width: 50px;
  margin-bottom: 15px;
}

label {
  color: white;
}

.navbar-inverse {
  background-color: #0d0d0e !important;
}

.navbar {
  border-radius: 0px !important;
  margin-bottom: 0 !important;
}

body {
  background-color: #131314 !important;
}
