.navbar {
    margin: 0px !important;
    border-radius:  0 !important;
}
.navbar-inverse{
  background-color: #0d0d0e !important;
}
@function makelongshadow($length,$angle) {
  $val: 0px 0px transparent;
  @for $i from 1 through $length {
    $val: #{$val}, #{$i}px #{$i*$angle}px 10;
  }
  @return $val;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:700,900');

body {
  background: radial-gradient(#0d0d0e, #0d0d0e);
  overflow: scroll;
}

.txt {
  text-align: center;
  font-family: 'Roboto';
  font-size: 12vmin;
  font-weight: 700;
  animation: netflix_style 3.5s infinite;
  outline: none;
  white-space: nowrap;
}

@keyframes netflix_style {
  0% {
    text-shadow: makelongshadow(100,1);
    color:#f3f3f3;
    transform: scale(1.5, 1.5);
  }
  10% {
    text-shadow: makelongshadow(100,1.5);
    color:#f3f3f3;
    transform: scale(1.5, 1.5);
  }
  15% {
     color:#f3f3f3;
  }
  20% {
    color:#e90418;
    text-shadow: none;
    transform: scale(1.1, 1.1);
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    color:#e90418;
    transform: scale(0.85, 0.9);
  }

  100% {
    opacity: 0;
  }
}

.header{
  position: sticky;
  margin-left: 0px;
  color: #dc143c;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  height: 100vh;
  background-color: #131314 !important;

}

.slider-container{
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.left-slide{
  height: 100vh;
  width: 35%;
  position: absolute;
  top:0;
  left: 0;
  transition: transform .5s ease-in-out;
}
.left-slide > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;


}

.left-slide h1 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -30px;

}

.left-slide p {
  font-size: 15px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 5px;
  margin-top: -10px;

}

.right-slide{
  height: 100%;
  width: 100%;
  position: absolute;
  top:0;
  left: 35%;
  width: 65%;
  transition: transform .5s ease-in-out;
}
.right-slide > div{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width:100%;
}

.slider-container .action-buttons button {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;

}

.slider-container .action-buttons .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.slider-container .action-buttons .up-button {
  transform: translateY(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

button {
  background-color: #ffffff;
  border: none;
  color: #aaa;
  cursor:pointer;
  font-size: 16px;
  padding: 15px;

}

button:hover {
  color: #222;
}

button:focus {
  outline: none;

}
